.selectField {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
  min-width: 0;
  vertical-align: top;
  display: flex;
  flex-direction: column;
}

.select {
  margin: 0;
  display: block;
  min-width: 0;
  background: none;
  box-sizing: content-box;
  letter-spacing: inherit;
  animation-duration: 10ms;
  -webkit-tap-highlight-color: transparent;
  border: 1px solid var(--border-color);
  padding: 10px 12px;
  font-size: 1rem;
  border-radius: 4px;
}
.select:not([multiple]):not([size]) {
  height: 1.1876em;
}
.select[aria-invalid="true"]:focus,
.select[aria-invalid="true"]:focus-visible {
  border-color: var(--error-color);
  outline: var(--error-color) auto 1px;
}

.select option {
  background-color: white;
}

@media (prefers-color-scheme: dark) {
  .select option {
    background-color: black;
  }
}
